{% extends 'base.html.twig' %}

{% block title %}Interdiction d'acces{% endblock %}

{% block body %}
    <div class="container">
        <h1>Vous n'avez pas le droit de modifier cette annonce !</h1>
        <div class="alert alert-danger">
            <p>Cette annonce appartient à un autre utilisateur, vous ne pouvez donc pas la modifier.</p>
        </div>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-success">Nos annonces</a>
    </div>
{% endblock %}